[user]
	email = ''
	name = John Weispfenning
[color]
	ui = auto
[push]
	defualt = tracking
	autoSetupRemote = true
[rerere]
	autoupdate = true
	enabled = true
[rebase]
	stat = true
[branch]
	autosetuprebase = always
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	ignorecase = false
	pager = less -FX
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[url "git@github.com:"]
	insteadOf = https://github.com
[alias]
	b = branch -vv
	bd = branch -D
	br = branch -r
	bu = branch -u
	c = checkout
	cb = checkout -b
	d = difftool
	fp = fetch -p
	graph = log --pretty=oneline --graph
	mom = merge origin/master
	pp = pull -p
	pu = push -u
	s = status
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
