[user]
	name = John Weispfenning
	email = 
[color]
	ui = auto
[push]
	defualt = tracking
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	stat = true
[branch]
	autosetuprebase = always
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	ignorecase = false
	pager = vimpager
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	b = branch -vv
	bd = branch -D
	br = branch -r
	bu = branch -u
	c = checkout
	cb = checkout -b
	d = difftool
	s = status
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
